#Glucose {
  x: 50%;
  y: 120;
  font-size: 150;
  font-family: Tungsten-Medium;
  fill: white;
  text-length: 64;
  text-anchor: middle;
}

#GlucoseLine {
  display: none;
}

#GlucoseLastUpdated {
  y: 120;
  x: 250;
  font-size: 25;
  font-family: Tungsten-Medium;
  fill: white;
  text-length: 64;
}

#GlucoseArrowIcon {
  y: 35;
  x: 250;
  height: 25;
  width: 30;
}

#Weather {
  x: 60;
  y: 240;
  font-size: 40;
  font-family: Tungsten-Medium;
  fill: white;
  text-length: 64;
}

#Date {
  x: 60;
  y: 175;
  font-size: 40;
  font-family: Tungsten-Medium;
  fill: white;
  text-length: 64;
}

#Steps {
  x: 250;
  y: 175;
  font-size: 40;
  font-family: Tungsten-Medium;
  fill: white;
  text-length: 64;
}

#HeartRate {
  x: 250;
  y: 240;
  font-size: 40;
  font-family: Tungsten-Medium;
  fill: white;
  text-length: 64;
}

#Clock {
  x: 50%;
  y: 320;
  font-size: 80;
  font-family: Tungsten-Medium;
  fill: white;
  text-length: 64;
  text-anchor: middle;
}

#HeartRateIcon {
  height: 32;
  width: 32;
  x: 210;
  y: 210;
}

#StepsIcon {
  height: 32;
  width: 32;
  x: 210;
  y: 145;
}

#DateIcon {
  height: 32;
  width: 32;
  x: 15;
  y: 145;
}

#WeatherIcon {
  height: 32;
  width: 32;
  x: 15;
  y: 210;
}
