#Glucose {
  x: 50%;
  y: 120;
  font-size: 150;
  font-family: Tungsten-Medium;
  fill: white;
  text-length: 64;
  text-anchor: middle;
}

#GlucoseLine {
  display: none;
}

#GlucoseLastUpdated {
  y: 120;
  x: 250;
  font-size: 25;
  font-family: System-Regular;
  fill: white;
  text-length: 64;
}

#GlucoseArrowIcon {
  y: 35;
  x: 250;
  height: 25;
  width: 30;
}

#Weather {
  x: 60;
  y: 240;
  font-size: 40;
  font-family: System-Regular;
  fill: white;
  text-length: 64;
}

#Date {
  x: 60;
  /* changed + 10 */
  y: 185;
  font-size: 40;
  font-family: System-Regular;
  fill: white;
  text-length: 64;
}

#DateIcon {
  height: 32;
  width: 32;
  x: 15;
  /* y: 145; y+10 */
  y: 155;
}

#Steps {
  x: 240;
  y: 185;
  font-size: 40;
  font-family: System-Regular;
  fill: white;
  text-length: 64;
}

#StepsIcon {
  height: 32;
  width: 32;
  x: 200;
  y: 155;
}


#HeartRate {
  x: 240;
  y: 240;
  font-size: 40;
  font-family: System-Regular;
  fill: white;
  text-length: 64;
}

#HeartRateIcon {
  height: 32;
  width: 32;
  x: 200;
  y: 210;
}


#Clock {
  x: 50%;
  y: 320;
  font-size: 80;
  font-family: System-Regular;
  fill: white;
  text-length: 64;
  text-anchor: middle;
}

#WeatherIcon {
  height: 32;
  width: 32;
  x: 15;
  y: 210;
}
