#GlucoseNotLoaded {
  x: 50%;
  y: 50%-100;
  fill: #FFE6D2;
}

#GlucoseLine {
  display: none;
}

#GlucoseLastUpdated {
  y: 145;
  x: 250;
  font-size: 25;
  font-family: System-Regular;
  fill: #FFE6D2;
  text-length: 64;
}

#GlucoseArrowIcon {
  y: 128;
  x: 220;
  height: 20;
  width: 25;
}

#Weather {
  x: 60;
  y: 250;
  font-size: 40;
  font-family: System-Regular;
  fill: #79523B;
  text-length: 64;
}

#WeatherIcon {
  height: 32;
  width: 32;
  x: 15;
  y: 220;
}

#Date {
  x: 60;
  y: 200;
  font-size: 40;
  font-family: System-Regular;
  fill: #79523B;
  text-length: 64;
}

#DateIcon {
  height: 32;
  width: 32;
  x: 15;
  y: 170;
}

#Steps {
  x: 230;
  y: 200;
  font-size: 40;
  font-family: System-Regular;
  fill: #79523B;
  text-length: 64;
}

#StepsIcon {
  height: 32;
  width: 32;
  x: 190;
  y: 170;
}

#HeartRate {
  x: 230;
  y: 250;
  font-size: 40;
  font-family: System-Regular;
  fill: #79523B;
  text-length: 64;
}

#HeartRateIcon {
  height: 32;
  width: 32;
  x: 190;
  y: 220;
}

#Clock {
  x: 50%;
  y: 330;
  font-size: 70;
  font-family: System-Regular;
  fill: #FFE6D2;
  text-length: 64;
  text-anchor: middle;
}

#Band {
  width: 100%;
  height: 110;
  y: 47%
}
